*.sln
*.slnx
*.conf
*.csproj
*.log

/Builds/
/ProfilerCaptures/
/Library/
/Temp/
/Logs/
/Obj/
/UserSettings/

.plastic/
.vscode/

/Assets/_Recovery
/Assets/Art/
/Assets/Audio/
/Assets/Materials/
/Assets/Scenes/
/Assets/Prefabs/
/Assets/TextMesh Pro/
/Assets/ThirdParty/

/Assets/Data/Terrain/